/*
    HEADER
*/
header{
    height: 60px;

    flex-direction: row-reverse;
}

.header-icon{
    height: 15px;
    width: 50px;
}
/*
    /HEADER
*/


/*
    MAIN
*/
main{
    height: calc(100vh - 120px);
    padding: 0 40px;

    /*
    justify-content: space-evenly;
    align-content: space-evenly; 
    
    In caso di restringimento le cam si toccano!
    */ 

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    overflow-y: auto;
}

.single-cam{
    height: 95px;
    width: 190px;
    margin: 10px 5px;
}
/*
    /MAIN
*/


/*
    FOOTER
*/
footer{
    height: 60px;

    justify-content: space-between;
}

footer nav{
    height: 100%;
    width: 60px;
}
/*
    /FOOTER
*/