/*
    HEADER
*/
header{
    height: 60px;
}

.header-btn-container{  
    position: absolute;
    top: 10px;
    right: 0px;
}

.header-btn{
    background-color: var(--trasparent-white);
    padding: 3px 3px;
    margin: 0 5px;
    border-radius: 5px;
}

.fa-arrows-up-down-left-right{
    transform: rotate(45deg);
}

.header-btn p{
    display: inline-block;
}
/*
    /HEADER
*/


/*
    MAIN
*/
main{
    height: calc(100vh - 120px);
    padding: 0 40px;

    /*
    justify-content: space-evenly;
    align-content: space-evenly; 
    
    In caso di restringimento le cam si toccano!
    */ 

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    overflow-y: auto;
}

.single-cam{
    height: 95px;
    width: 190px;
    margin: 10px 5px;
}

main img{
    width: 100%;
}

.tag{
    background-color: var(--trasparent-white);
    padding: 3px 3px;

    position: absolute;
    bottom: 0;
    left: 0;
}
/*
    /MAIN
*/


/*
    FOOTER
*/
footer{
    height: 60px;
    background-color: var(--trasparent-white);

    justify-content: space-between;
}

footer i{
    font-size: 22px;
}

.icons-container{
    align-items: center;
}

.icon-and-txt{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 5px;

    text-transform: capitalize;
}

.icon-and-txt:active i{
    color: var(--active-green);
}

.icon-chevron i{
    align-self: center;
    font-size: 10px;
    padding: 0 5px;
    margin: 0 5px;
}

/* .icon-chevron:hover{
    display: block;
}

.icon-chevron .menu{
    height: 50px;
    width: 100px;
    background-color: white;

    position: absolute;
    top: 0%;
    left: 0;
} */

.nav-right{
    align-items: center;
    justify-content: center;

    background-color: var(--trasparent-white);
    padding: 0 10px;
    height: 100%;
}

.nav-right p{
    color: red;
}

/*
    /FOOTER
*/